# Ambientes Virtuais
venv/
env/
.venv/

# Caches do Python
__pycache__/
*.pyc
*.pyo

# Arquivos de IDE e SO
.vscode/
.idea/
.DS_Store

# Variáveis de Ambiente e Segredos (CRÍTICO PARA SEGURANÇA)
.env
*.pem
secrets/

# Banco de dados local (se usarmos SQLite provisoriamente)
*.sqlite3
*.db
